<datepicker
  id={{elementId}}
  role={{role}}
  name={{name}}
  class="ui-datepicker {{class}}{{_skin}}{{_mood}}{{_size}}"
>
  {{#if hasBlock}}
    {{yield (hash
      start=(component 'dp-view-container'
        class='start'
        datetime=_start
        duration=null
        showTime=showTime
        showDuration=false
        showDay=showDay
        holidays=holidays
        whitelist=whitelist
        blacklist=blacklist
        dayFormat=dayFormat
        dateFormat=dateFormat
        timeFormat=timeFormat
        size=size
        mood=mood

        requestInputFrame=requestInputFrame
        onChange=(action 'onChange' 'start')
      )
      end=(component 'dp-view-container'
        class='stop'
        datetime=_stop
        duration=duration
        showTime=showTime
        showDuration=showDuration
        showDay=showDay
        holidays=holidays
        whitelist=whitelist
        blacklist=blacklist
        dayFormat=dayFormat
        dateFormat=dateFormat
        timeFormat=timeFormat

        requestInputFrame=requestInputFrame
        onChange=(action 'onChange' 'stop')
      )
      incrementer=(component 'dp-incrementer'
        target='start'
        increment=1
        incrementUnit=incrementUnit
        onIncrement=(action 'onIncrement')
      )
      decrementer=(component 'dp-incrementer'
        target='start'
        increment=-1
        incrementUnit=incrementUnit
        onIncrement=(action 'onIncrement')
      )
      divider=(component 'dp-divider' src=imageTopSrc top=true)
    )}}
  {{else}}
    not block
  {{/if}}
</datepicker>
{{#if showStartComposer}}
<div class="start-composer">
  {{#ember-tether
    id=(concat 'start-composer-' elementId)
    target=_startTarget
    targetAttachment='top center'
    attachment='bottom center'
    offset='25px 0'
  }}
  {{dp-composer
    datetime=_start
    inputs=_inputs
    skin=_skin
    animateIn=animateIn
    animateOut=animateOut
    onChange=(action 'onChange' 'start')
  }}
  {{/ember-tether}}
</div>
{{/if}}

{{#if showStopComposer}}
<div class="stop-composer">
  {{#ember-tether
    id=(concat 'stop-composer-' elementId)
    target=_stopTarget
    targetAttachment='top center'
    attachment='bottom center'
    offset='25px 0'
  }}
  {{dp-composer
    datetime=_stop
    skin=_skin
    inputs=_inputs
    animateIn=animateIn
    animateOut=animateOut
    onChange=(action 'onChange' 'stop')
  }}
  {{/ember-tether}}
</div>
{{/if}}
