<dow class="dp-calendar-dow {{if class (concat class ' ')}}days-of-week flex fill justify-center">
  {{#if hasBlock}}
    {{yield}}
  {{else}}

    {{#each _dow as |day|}}
      <day class="{{day.type}}-heading flex fill justify-center">
        <span>{{day.name}}</span>
      </day>
    {{/each}}

  {{/if}}
</dow>
