<dates id={{elementId}} class='dp-calendar-body justify-start orient-horizontal'>
  {{#each dates as |date|}}
  <date
    class="{{date.period}}{{if date.today ' today'}}{{if date.selected ' selected'}}{{if date.holiday ' holiday'}}{{if date.blacklisted ' blacklist'}} justify-center"
    onclick={{action 'chooseDate' date.date}}
  >
    <span>{{date.value}}</span>
  </date>
  {{/each}}
</dates>

{{yield}}
