<div class="date-arrow left" {{action 'decrementDate'}}>
    {{icon-chevron-left}}
</div>
<div class="description" {{action 'toggleCalendar'}}>
    <span class="short">{{namedDay}}</span><br/>
    <span class="long">{{moment when 'ddd DD MMM, YYYY'}}</span>    
</div>
<div class="date-arrow right" {{action 'incrementDate'}}>
    {{icon-chevron-right}}
</div>
