<div class="row">
  <div class="col-xs-6">
    {{#date-picker
      start=start
      stop=stop

      onStartChange=(mut start)
      onStopChange=(mut stop)
      as |dp|
    }}
      {{dp.decrementer increment=-1 incrementUnit='days'}}
      {{!-- {{#dp.start as |start|}}
        {{#start.date}}
          start
        {{/start.date}}
      {{/dp.start}} --}}
      {{dp.start}}
      {{dp.divider '→'}}
      {{dp.end}}
      {{dp.incrementer increment=1 incrementUnit='days'}}
    {{/date-picker}}
  </div>
  <div class="col-xs-6">
    <pre><code id='testing' class="handlebars">
\{{#date-picker
  start={{start}}
  stop='2016-12-25'
  as |dp|
}}
</code></pre>
  </div>
</div>
